<div class="dashboard-container">
  <div class="dashboard-header">
    <h1 nz-typography>Dashboard</h1>
    <button nz-button nzType="primary" (click)="refreshWalletData()" [nzLoading]="isLoading">
      <i nz-icon nzType="reload"></i> Actualizar
    </button>
  </div>
  
  <div nz-row [nzGutter]="16">
    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
      <nz-card [nzLoading]="isLoading">
        <nz-statistic
          [nzValue]="(accountBalance | number:'1.4-4')!"
          [nzTitle]="'Balance ETH'"
          [nzPrefix]="prefixTplEth"
          [nzSuffix]="'ETH'"
        ></nz-statistic>
        <ng-template #prefixTplEth><i nz-icon nzType="ethereum" nzTheme="outline"></i></ng-template>
      </nz-card>
    </div>
    
    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
      <nz-card [nzLoading]="isLoading">
        <nz-statistic
          [nzValue]="transactionCount"
          [nzTitle]="'Transacciones'"
          [nzPrefix]="prefixTplTx"
        ></nz-statistic>
        <ng-template #prefixTplTx><i nz-icon nzType="swap" nzTheme="outline"></i></ng-template>
      </nz-card>
    </div>
  </div>
  
  <nz-divider></nz-divider>
  
  <div class="transactions-section">
    <div class="section-header">
      <h2 nz-typography>
        Transacciones
        <nz-badge *ngIf="hasNewTransactions" nzStatus="processing" nzText="Nuevas"></nz-badge>
      </h2>
      <button nz-button nzType="primary" (click)="showTransferModal()">
        <i nz-icon nzType="plus"></i>Nueva Transferencia
      </button>
    </div>
    
    <nz-table
      #basicTable
      [nzData]="transactions"
      [nzFrontPagination]="true"
      [nzTotal]="transactions.length"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageIndex"
      [nzShowSizeChanger]="true"
      [nzPageSizeOptions]="[5, 10, 20, 50]"
      [nzShowPagination]="true"
      [nzLoading]="isLoading"
      (nzPageIndexChange)="onPageIndexChange($event)"
      (nzPageSizeChange)="onPageSizeChange($event)">
      <thead>
        <tr>
          <th>Hash</th>
          <th>Tipo</th>
          <th>Cantidad</th>
          <th>Estado</th>
          <th>Fecha</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data" [class.new-transaction]="hasNewTransactions && basicTable.data.indexOf(data) === 0">
          <td>
            <a [href]="'https://holesky.etherscan.io/tx/' + data.hash" target="_blank">
              {{ data.hash | slice:0:10 }}...{{ data.hash | slice:-4 }}
            </a>
          </td>
          <td>
            <i nz-icon
               [nzType]="data.type === 'sent' ? 'arrow-up' : 'arrow-down'"
               [style.color]="data.type === 'sent' ? '#ff4d4f' : '#52c41a'"></i>
            {{ data.type === 'sent' ? 'Enviado' : 'Recibido' }}
          </td>
          <td>{{ data.amount }}</td>
          <td>
            <nz-tag
              [nzColor]="data.status === 'completado' ? 'green' : data.status === 'pendiente' ? 'orange' : 'red'">
              {{ data.status }}
            </nz-tag>
          </td>
          <td>{{ data.timestamp | date:'dd/MM/yyyy HH:mm' }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>